.data-entry textarea {
  width: 400px;
}
.data-entry textarea.list {
  height: 200px;
}
.data-entry textarea.detail {
  height: 350px;
}
.data-entry .container.horizontal {
  display: flex;
  flex-direction: row;
}
.data-entry .container.horizontal > * {
  margin: 10px;
}
.data-entry .preview {
  white-space: pre-wrap;
  font-family: monospace;
}