.app {
  padding: 20px;
}
.navMenu {
  display: flex;
  padding: 10px 20px;
  background: #eee;
}
.navLinks {
  flex: 1;
}
.navLinks > a + a {
  margin-left: 10px;
}
.whoami {
  padding-right: 20px;
}
.page {
  margin: 40px;
}